* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 25px 100px 25px 100px;
    padding: 0px;
    background-color: #e11364;
}

section {
    background-color: #bc105c;    
}

.cabecera {
    text-align: center;
    color: white;
    border-right: 4px solid white;
    border-left: 4px solid white;
    line-height: 2;
}

.pie {
    margin-top: 16px;
    text-align: center;
    color: white;
    padding: 16px;
    background-color: #e96093;
    border-radius: 10px;
    
}

.losMasVendidos {
    background-color: #bc105c;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    color: white;
}

.juego {
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.juego h3 {
    color: #9c013b;
    text-align: right;
    border-bottom: 1px dashed #9c013b;
}

.juego p {
    color: black;
    text-align: justify;
}

.juego img {
    width: 100%;
    border-radius: 5px;

}

.juego button {
    background-color: #2c8f20;
    padding: 8px;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 50px;;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;    
    
}

.juego button:hover {
    background-color: white;
    color: #2c8f20;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px #2c8f20;
}